
* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content {
    margin: 20px;
    width: 500px;
    background-color: green;
    color: white;
}

.bottom-content {
    padding: 40px;
    width:500px;
    background-color: blue;
    color: white;
}